.movie-container {
    display: flex;
    flex-direction: column;
  }
  
  .movie-container > h2 {
    font-size: 2.5rem;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .movie {
    margin: 2px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  img {
    width: 200px;
    height: 300px;
  }