li {
  list-style: none;
}
.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container >li {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
}

img {
  width: 200px;
  height: 200px;
}